.DS_Store
.Rproj.user
.Rhistory
Makefile
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.tmp
.*.sw?
*.vscode
include/armadillo*
*.gcda
*.gcno
*.gcov
*.dSYM
*.out
build/
CMakeCache.txt
CMakeFiles/
.cache/
compile_commands.json

!docs/Makefile
docs/build
docs/xml

header_only_version

GPATH
GRTAGS
GTAGS
cmake-Ubuntu_22.04.5_LTS-*
tags
